/*
.contactSupportButton {
    background: linear-gradient(150.53deg, #FFE45C 0%, #FFC900 100%);
}
*/

.article-title {
    color: #242424;
    color: rgba(0, 0, 0, 0.6);
    text-decoration: underline;
    white-space: normal;
}

.headlineTitleText {
    text-align: left;
}
    

.forceCommunityTopArticleList .forceCommunityTopArticleListForTopic {
    width: 300px !important;
}

.forceCommunityTopArticleListForTopic {
    padding: 0 50px 50px 0 !important;
}

@media only screen and (max-width: 47.9375em) {
    .forceCommunityTopArticleList:not(.showTitle) .forceCommunityTopArticleListForTopic {
        padding: 0 0 28px 0 !important;
        width: 100% !important;
    }
}